.red {
	color: red;
}

.bluebackcolor {
	background-color: #0079d5;
	color: white;
}

.header {
	background-color: #ebebeb;
}

.TableNOTE {
	font-size: 0.375rem;
	font-weight: 300;
	font-family: "宋体";
}

.TableTopBackColor {
	background-image: linear-gradient(#e0eaf4, rgb(255, 255, 255));
	height: 50px;
}

.mainpageHeader {
	width: 1000px;
	margin: 10px auto 10px auto;
}

.mainpage {
	width: 1000px;
	margin: 10px auto 10px auto;
	border: 1px solid #0078d5;
}
.mainpic{
	width: 1000px;
	margin: 0px auto 0px auto;

}
table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

th{
	background-color: #ebebeb;
}